<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="datalock" connectionString="UseDevelopmentStorage=true"/>-->
    <add name="datalock" connectionString="DefaultEndpointsProtocol=https;AccountName=chainedfunctionstorage;AccountKey=tBRD4g0+5qCcTdiQykjR6aicbeSb52xSiUTksHRv6kMhhFfGDK6nCkQ79vrULxpURFvprOl4reCoVGkZSsMFdg==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>