<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="datalock" connectionString="Endpoint=sb://dasfunctionspoc.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=laMSAlfnglCR76GetNnGiHDr3CjTxqHE5SpVxL10CpA="/>
  </connectionStrings>
</configuration>