<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="datalock" connectionString="Endpoint=sb://functionpoc.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=/H2LldmBmiE1y0l20BRjMahLKAyMl1LM9VZImUHd79Q="/>
  </connectionStrings>
</configuration>